<div class="container">
    <div class="row justify-content-center pt-5">
        <mat-card class="col-md-9 col-12 card-container px-4 py-3">
            <div class="row">
                <div class="col-5 sidebar pt-2">
                    <mat-stepper orientation="vertical" #stepper>
                        <mat-step>
                            <ng-template matStepLabel>
                                <div (click)="changeStep(0)">
                                    <span>STEP 1</span> <br> <span class="fw-bold">YOUR INFO</span>
                                </div>

                            </ng-template>
                        </mat-step>
                        <mat-step>
                            <ng-template matStepLabel>
                                <div (click)="changeStep(1)">
                                    <span>STEP 2</span> <br> <span class="fw-bold">SELECT PLAN</span>
                                </div>
                            </ng-template>
                        </mat-step>
                        <mat-step>
                            <ng-template matStepLabel>
                                <div (click)="changeStep(2)">
                                    <span>STEP 3</span> <br> <span class="fw-bold">ADD-ONS</span>
                                </div>

                            </ng-template>
                        </mat-step>
                        <mat-step>
                            <ng-template matStepLabel (click)="step = 3">
                                <div (click)="changeStep(3)">
                                    <span>STEP 4</span> <br> <span class="fw-bold">SUMMARY</span>
                                </div>
                            </ng-template>
                        </mat-step>
                    </mat-stepper>
                </div>
                <div class="col-7">
                    <div [ngSwitch]="step">
                        <div *ngSwitchCase="0">
                            <div class="content py-5 pt-5 ps-5 pe-1">
                                <h1>Select your plan</h1>
                                <p class="text-secondary mb-4">You have the option of monthly or yearly billing</p>
                                <form [formGroup]="step1Form">
                                    <div class="mb-3">
                                        <label for="exampleInputName" class="form-label">Name</label>
                                        <input type="text" class="form-control" id="exampleInputName" aria-describedby="Name" formControlName="name">
                                    </div>
                                    <div class="mb-3">
                                        <label for="exampleInputEmail1" class="form-label">Email address</label>
                                        <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" formControlName="email">
                                    </div>
                                    <div class="mb-3">
                                        <div class="col d-flex justify-content-between">
                                            <label for="validationPhoneNumber" class="form-label">Phone Number</label>
                                            <span id="validationPhoneNumberFeedback" class="text-danger" *ngIf="step1Form.controls['phone'].invalid">
                                                    This field is required
                                                </span>
                                        </div>
                                        <input type="text" class="form-control" [ngClass]="{'is-invalid': step1Form.controls['phone'].invalid}" ng id="validationPhoneNumber" placeholder="e.g. +1 234 567 890" aria-describedby="validationPhoneNumberFeedback" formControlName="phone">
                                    </div>
                                </form>
                            </div>

                        </div>
                        <div *ngSwitchCase="1">
                            <div class="content py-5 ps-5 pe-1">
                                <h1>Select your plan</h1>
                                <p class="text-secondary mb-4">You have the option of monthly or yearly billing</p>
                                <div class="row">
                                    <div class="col">
                                        <div class="card">
                                            <div class="card-body">
                                                <img class="mb-5" src="../assets/images/icon-arcade.svg" alt="arcade-icon">
                                                <h5 class="card-title mb-0">Arcade</h5>
                                                <span class="card-text text-secondary">$9/mo</span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col">
                                        <div class="card">
                                            <div class="card-body">
                                                <img class="mb-5" src="../assets/images/icon-advanced.svg" alt="arcade-icon">

                                                <h5 class="card-title mb-0">Advanced</h5>
                                                <span class="card-text text-secondary">$12/mo</span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col">
                                        <div class="card">
                                            <div class="card-body">
                                                <img class="mb-5" src="../assets/images/icon-pro.svg" alt="arcade-icon">

                                                <h5 class="card-title mb-0">Pro</h5>
                                                <span class="card-text text-secondary">$15/mo</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row justify-content-center mt-3">
                                    <div class="col-11 ligthblue rounded py-1 mb-5">
                                        <span>
                                        <div class=" form-switch text-center">
                                            <label class="form-check-label" for="flexSwitchCheckChecked" [ngClass]="{'fw-bold': !periodSwitch, 'text-secondary': periodSwitch}">Monthly</label>
                                            <input class="form-check-input switch-check-input mx-2" type="checkbox" role="switch" id="flexSwitchCheckChecked" [(ngModel)]="periodSwitch">
                                            <label class="form-check-label" for="flexSwitchCheckChecked" [ngClass]="{'fw-bold': periodSwitch, 'text-secondary': !periodSwitch}">Yearly</label>
                                        </div>
                                        </span>
                                    </div>
                                </div>
                            </div>

                        </div>

                        <div *ngSwitchCase="2">
                            <div class="content py-5 ps-5 pe-1">
                                <h1>Pick add-ons</h1>
                                <p class="text-secondary mb-0">Add-ons help enhance your gaming experience</p>
                                <div class="row">
                                    <div class="col-12 mb-2">
                                        <div class="form-check">
                                        </div>
                                        <div class="card">
                                            <div class="card-body pb-0 ligthblue">
                                                <div class="row">
                                                    <div class="col-1">
                                                        <div class="form-check">
                                                            <input class="form-check-input" type="checkbox" value="" id="flexCheckChecked" checked>
                                                        </div>
                                                    </div>
                                                    <div class="col">
                                                        <h5 class="card-title mb-0 fw-bold">Online service</h5>
                                                        <p class="text-secondary">Access to multiplayer games</p>
                                                    </div>
                                                    <div class="col-3 text-end">
                                                        <span class="card-text text-secondary text-end">+$1/mo</span>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-12 mb-2">
                                        <div class="card">
                                            <div class="card-body pb-0 ligthblue">
                                                <div class="row">
                                                    <div class="col-1">
                                                        <input class="form-check-input" type="checkbox" value="" id="flexCheckChecked" checked>
                                                    </div>
                                                    <div class="col">
                                                        <h5 class="card-title mb-0 fw-bold">Larger storage</h5>
                                                        <p class="text-secondary">Extra 1TB of cloud save</p>
                                                    </div>
                                                    <div class="col-3">
                                                        <span class="card-text text-secondary">+$2/mo</span>

                                                    </div>
                                                </div>

                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-12">
                                        <div class="card">
                                            <div class="card-body pb-0 ">
                                                <div class="row">
                                                    <div class="col-1">
                                                        <input class="form-check-input" type="checkbox" value="" id="flexCheckChecked">

                                                    </div>
                                                    <div class="col">
                                                        <h5 class="card-title mb-0 fw-bold">Customizable profile</h5>
                                                        <p class="text-secondary">Custom theme on your profile</p>
                                                    </div>
                                                    <div class="col-3">
                                                        <span class="card-text text-secondary">+$2/mo</span>

                                                    </div>
                                                </div>

                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div *ngSwitchCase="3">
                            <div class="content py-5 ps-5 pe-1">
                                <h1>Finishing up</h1>
                                <p class="text-secondary mb-0">Double-check everything looks OK before confirming</p>
                            </div>
                        </div>


                        <div class="mt-5" [ngClass]="{'text-end': step === 0, 'd-flex justify-content-between': step > 0}">
                            <button *ngIf="step > 0" class="btn btn-outline-secondary border-0 ms-4" (click)="backStep()">Go Back</button>
                            <button class="btn btn-marine" (click)="nextStep()" *ngIf="step < 3">Next Step</button>
                            <button class="btn btn-primary disabled" *ngIf="step > 2">Next Step</button>
                        </div>
                    </div>


                </div>
            </div>
            <!-- <mat-card-content>Simple card</mat-card-content> -->
        </mat-card>
    </div>
</div>