.mat-mdc-card {
    border-radius: var(--mdc-elevated-card-container-shape, var(--mdc-shape-medium, 20px));
    box-shadow: 0px 2px 1px -1px rgb(0 0 0 / 30%), 0px 1px 1px 0px rgb(0 0 0 / 24%), 0px 1px 3px 0px rgb(0 0 0 / 22%);
}

.sidebar {
    height: 544px;
    max-width: 274px;
    color: white;
    background-image: url('../assets/images/bg-sidebar-desktop.svg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}

.content {
    height: 450px;
}

.mat-stepper-vertical,
.mat-stepper-horizontal {
    display: revert;
}


/* Step1 */

.form-control.is-invalid,
.was-validated .form-control:invalid {
    background-image: none;
}


/* end Step1 */


/* Step2 */

.switch-check-input {
    background-color: #0d6efd;
    border-color: #0d6efd;
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='-4 -4 8 8'%3e%3ccircle r='3' fill='%23fff'/%3e%3c/svg%3e");
}

.form-check-input-checked-bg-color {
    color: red;
}

.ligthblue {
    background-color: var(--magnolia);
}


/* end Step2 */


/* Step 4 */

.finish-list {
    border-bottom: 1px lightgray solid;
}

.color-marine {
    color: var(--marine-blue);
}


/* End step 4 */

.btn-marine {
    background-color: var(--marine-blue);
    color: white;
}

::ng-deep .mat-horizontal-stepper-header {
    pointer-events: none !important;
}

::ng-deep .mat-vertical-stepper-header {
    pointer-events: none !important;
}


/* Mobile */

@media (max-width: 767px) {
    .hidden-sm-down {
        display: none !important;
    }
    .container {
        background-image: url('../assets/images/bg-sidebar-mobile.svg');
        background-position: top;
        background-repeat: no-repeat;
        background-size: contain;
    }
    .card-container {
        margin-top: 3rem;
    }
    .mat-stepper-horizontal-line {
        border: none;
    }
    .sidebar {
        position: fixed;
        top: 0;
        left: 10%;
        background-image: none;
        max-width: 73%;
        max-height: 80px;
    }
    .content {
        padding: 1rem!important;
        height: auto;
    }
    .step-content {
        padding: 0;
    }
    /* Step3 */
    .card-body {
        padding-left: 0.5rem;
    }
    .add-ons-text h5 {
        font-size: 1rem;
    }
    .add-ons-text p {
        font-size: 0.8rem;
    }
    .add-ons-text p {
        font-size: 0.8rem;
    }
    /* Mobile bottoms */
    .mobile-btns {
        background-color: white;
        position: fixed;
        bottom: 0;
        width: 100%;
        right: 0;
        height: 10%;
    }
    .mobile-btns button {
        margin: 5%;
        height: 40px;
    }
}