<div class="container">
    <div class="row justify-content-center pt-5 container-row">
        <mat-card class="col-md-9 col-11 card-container px-4 py-3">
            <div class="row">
                <div class="col-md-5 col-12 sidebar pt-2">
                    <mat-stepper [orientation]="orientationStepper" #stepper [linear]="true">
                        <mat-step [stepControl]="step1Form">
                            <ng-template matStepLabel>
                                <div class="hidden-sm-down">
                                    <span>STEP 1</span> <br> <span class="fw-bold">YOUR INFO</span>
                                </div>

                            </ng-template>
                        </mat-step>
                        <mat-step [stepControl]="step1Form">
                            <!-- (click)="changeStep(1)" -->
                            <ng-template matStepLabel>
                                <div class="hidden-sm-down">
                                    <span>STEP 2</span> <br> <span class="fw-bold">SELECT PLAN</span>
                                </div>
                            </ng-template>
                        </mat-step>
                        <mat-step>
                            <ng-template matStepLabel>
                                <div class="hidden-sm-down">
                                    <span>STEP 3</span> <br> <span class="fw-bold">ADD-ONS</span>
                                </div>

                            </ng-template>
                        </mat-step>
                        <mat-step>
                            <ng-template matStepLabel>
                                <div class="hidden-sm-down">
                                    <span>STEP 4</span> <br> <span class="fw-bold">SUMMARY</span>
                                </div>
                            </ng-template>
                        </mat-step>
                    </mat-stepper>
                </div>
                <div class="col-md-7 col-12 step-content">
                    <div [ngSwitch]="step">
                        <div *ngSwitchCase="0">
                            <div class="content py-5 pt-5 ps-5 pe-1">
                                <h1 class="fw-bold">Personal info</h1>
                                <p class="text-secondary mb-4">Please provide your name, email address, and phone number.</p>
                                <form [formGroup]="step1Form">
                                    <div class="mb-3">
                                        <div class="col d-flex justify-content-between">
                                            <label for="exampleInputName" class="form-label">Name</label>
                                            <span class="form-text text-danger" *ngIf="step1Form.controls['name'].invalid">Valid Name and LastName</span>
                                        </div>
                                        <input type="text" class="form-control" [ngClass]="{'is-invalid': step1Form.controls['name'].invalid}" id="exampleInputName" aria-describedby="Name" formControlName="name" placeholder="e.g Stephen King">
                                    </div>
                                    <div class="mb-3">
                                        <div class="col d-flex justify-content-between">
                                            <label for="exampleInputEmail1" class="form-label">Email address</label>
                                            <span class="form-text text-danger" *ngIf="step1Form.controls['email'].invalid">Valid email address</span>
                                        </div>
                                        <input type="email" class="form-control" [ngClass]="{'is-invalid': step1Form.controls['email'].invalid}" id="exampleInputEmail1" aria-describedby="emailHelp" formControlName="email" placeholder="e.g. stephenking@lorem.com">
                                    </div>
                                    <div class="mb-3">
                                        <div class="col d-flex justify-content-between">
                                            <label for="validationPhoneNumber" class="form-label">Phone Number</label>
                                            <span id="validationPhoneNumberFeedback" class="text-danger" *ngIf="step1Form.controls['phone'].invalid">
                                                    This field is required
                                                </span>
                                        </div>
                                        <input type="text" class="form-control" [ngClass]="{'is-invalid': step1Form.controls['phone'].invalid}" ng id="validationPhoneNumber" placeholder="e.g. +1 234 567 890" aria-describedby="validationPhoneNumberFeedback" formControlName="phone">
                                    </div>
                                </form>
                            </div>

                        </div>
                        <div *ngSwitchCase="1">
                            <div class="content py-5 ps-5 pe-1">
                                <h1>Select your plan</h1>
                                <p class="text-secondary mb-4">You have the option of monthly or yearly billing</p>
                                <div class="row">
                                    <div class="col-md-4 col-12 p-1" [ngClass]="{'mb-2': isMobile}">
                                        <div class="card">
                                            <div class="card-body">
                                                <div class="row">
                                                    <div class="col-2 col-md-12">
                                                        <img class="" src="../assets/images/icon-arcade.svg" alt="arcade-icon" [ngClass]="{'align-text-top': isMobile, 'mb-5': !isMobile}">
                                                    </div>
                                                    <div class="col">
                                                        <h5 class="card-title mb-0">Arcade</h5>
                                                        <p class="card-text text-secondary">$9/mo</p>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-4 col-12 p-1" [ngClass]="{'mb-2': isMobile}">
                                        <div class="card">
                                            <div class="card-body">
                                                <div class="row">
                                                    <div class="col-2 col-md-12">
                                                        <img class="" src="../assets/images/icon-advanced.svg" alt="advance-icon" [ngClass]="{'align-text-top': isMobile, 'mb-5': !isMobile}">
                                                    </div>
                                                    <div class="col">
                                                        <h5 class="card-title mb-0">Advanced</h5>
                                                        <span class="card-text text-secondary">$12/mo</span>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-4 col-12 p-1" [ngClass]="{'mb-2': isMobile}">
                                        <div class="card">
                                            <div class="card-body">
                                                <div class="row">
                                                    <div class="col-2 col-md-12">
                                                        <img class="mb-5" src="../assets/images/icon-pro.svg" alt="pro-icon" [ngClass]="{'align-text-top': isMobile, 'mb-5': !isMobile}">

                                                    </div>
                                                    <div class="col">
                                                        <h5 class="card-title mb-0">Pro</h5>
                                                        <span class="card-text text-secondary">$15/mo</span>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row justify-content-center mt-3">
                                    <div class="col-11 ligthblue rounded py-1 mb-5">
                                        <span>
                                        <div class=" form-switch text-center">
                                            <label class="form-check-label" for="flexSwitchCheckChecked" [ngClass]="{'fw-bold ': !periodSwitch, 'text-secondary ': periodSwitch}">Monthly</label>
                                            <input class="form-check-input switch-check-input mx-2" type="checkbox" role="switch" id="flexSwitchCheckChecked" [(ngModel)]="periodSwitch">
                                            <label class="form-check-label" for="flexSwitchCheckChecked" [ngClass]="{'fw-bold ': periodSwitch, 'text-secondary ': !periodSwitch}">Yearly</label>
                                        </div>
                                        </span>
                                    </div>
                                </div>
                            </div>

                        </div>

                        <div *ngSwitchCase="2">
                            <div class="content py-5 ps-5 pe-1">
                                <h1>Pick add-ons</h1>
                                <p class="text-secondary mb-0">Add-ons help enhance your gaming experience</p>
                                <div class="row">
                                    <div class="col-12 mb-2">
                                        <div class="card">
                                            <div class="card-body pb-0" [ngClass]="{'ligthblue': onlineService}">
                                                <div class="row">
                                                    <div class="col-1">
                                                        <div class="form-check">
                                                            <input class="form-check-input" type="checkbox" value="" id="flexCheckChecked" [(ngModel)]="onlineService">
                                                        </div>
                                                    </div>
                                                    <div class="col pe-0 add-ons-text">
                                                        <h5 class="card-title mb-0 fw-bold">Online service</h5>
                                                        <p class="text-secondary">Access to multiplayer games</p>
                                                    </div>
                                                    <div class="col-3 col-md-3 text-end p-0">
                                                        <span class="card-text text-primary text-end">+$1/mo</span>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-12 mb-2">
                                        <div class="card">
                                            <div class="card-body pb-0" [ngClass]="{'ligthblue': largerStorage}">
                                                <div class="row">
                                                    <div class="col-1">
                                                        <input class="form-check-input" type="checkbox" value="" id="flexCheckChecked" [(ngModel)]="largerStorage">
                                                    </div>
                                                    <div class="col pe-0 add-ons-text">
                                                        <h5 class="card-title mb-0 fw-bold">Larger storage</h5>
                                                        <p class="text-secondary">Extra 1TB of cloud save</p>
                                                    </div>
                                                    <div class="col-3 col-md-3 text-end p-0">
                                                        <span class="card-text text-primary">+$2/mo</span>
                                                    </div>
                                                </div>

                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-12">
                                        <div class="card">
                                            <div class="card-body pb-0" [ngClass]="{'ligthblue': customProfile}">
                                                <div class="row">
                                                    <div class="col-1">
                                                        <input class="form-check-input" type="checkbox" value="" id="flexCheckChecked" [(ngModel)]="customProfile">

                                                    </div>
                                                    <div class="col pe-0 add-ons-text">
                                                        <h5 class="card-title mb-0 fw-bold">Customizable profile</h5>
                                                        <p class="text-secondary">Custom theme on your profile</p>
                                                    </div>
                                                    <div class="col-3 col-md-3 text-end p-0">
                                                        <span class="card-text text-primary">+$2/mo</span>
                                                    </div>
                                                </div>

                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div *ngSwitchCase="3">
                            <div class="content py-5 ps-4 pe-1" *ngIf="finished">
                                <div class="row pt-4">
                                    <div class="col text-center pt-4">
                                        <img src="../assets/images/icon-thank-you.svg" alt="icon-checkmark">
                                        <h2 class="fw-bold mt-4">Thank you!</h2>
                                        <p class="text-secondary">Thanks for confirming your subscription! We hope you have fun using our platform. If you ever need support, please feel free to email us at support@loremgaming.com.</p>
                                    </div>
                                </div>
                            </div>
                            <div class="content py-5 ps-5 pe-1" *ngIf="!finished">
                                <h1>Finishing up</h1>
                                <p class="text-secondary">Double-check everything looks OK before confirming</p>
                                <div class="row">
                                    <div class="col-12 mb-2">
                                        <div class="card border-0 ">
                                            <div class="card-body pb-0 ligthblue rounded-4">
                                                <div class="row mb-3">
                                                    <div class="col">
                                                        <p class="mb-0 fw-bold">Arcade (Monthly)</p>
                                                        <button class="btn btn-link p-0" (click)="changeStep(1)">Change</button>
                                                    </div>
                                                    <div class="col-md-3 col-4 text-end">
                                                        <span class="card-text text-secondary text-end">+$9/mo</span>
                                                    </div>
                                                </div>
                                                <hr>
                                                <div class="row mb-3">
                                                    <div class="col">
                                                        <p class="mb-0 text-secondary">Online service</p>
                                                        <!-- <button class="btn btn-link p-0" (click)="changeStep(1)">Change</button> -->
                                                    </div>
                                                    <div class="col-md-3 col-4 text-end">
                                                        <span class="card-text text-secondary text-end">+$1/mo</span>
                                                    </div>
                                                </div>
                                                <div class="row mb-4">
                                                    <div class="col">
                                                        <p class="mb-0 text-secondary">Largest storage</p>
                                                        <!-- <button class="btn btn-link p-0" (click)="changeStep(1)">Change</button> -->
                                                    </div>
                                                    <div class="col-md-3 col-4 text-end">
                                                        <span class="card-text text-secondary text-end">+$2/mo</span>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-12">
                                        <div class="card border-0">
                                            <div class="card-body pb-0">
                                                <div class="row">
                                                    <div class="col p-0 text-center">
                                                        <p class="text-secondary">Total (per month)</p>
                                                    </div>
                                                    <div class="col-md-4 col-6 text-end">
                                                        <h4 class="card-text color-marine">+$12/mo</h4>
                                                    </div>
                                                </div>

                                            </div>
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>


                        <div class="mt-5" *ngIf="!finished" [ngClass]="{'text-end ': step === 0, 'd-flex justify-content-between ': step > 0, 'mobile-btns ': isMobile}">
                            <button *ngIf="step > 0" class="btn btn-outline-secondary border-0 ms-4" (click)="backStep()">Go Back</button>
                            <button class="btn btn-marine" [ngClass]="{'animate__animated animate__shakeX': step1Form.valid}" (click)="nextStep()" *ngIf="step < 3" [disabled]="step1Form.invalid">Next Step</button>
                            <button class="btn btn-primary" *ngIf="step > 2" (click)="finishSuscription()">Confirm</button>
                        </div>
                    </div>


                </div>
            </div>
            <!-- <mat-card-content>Simple card</mat-card-content> -->
        </mat-card>
    </div>
</div>